<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
    <Logger name="com.sp1d.dvdshare" level="error"/>
    <Logger name="org.hibernate" level="error"/>
    <Logger name="log4j.logger.com.mchange.v2.c3p0" level="error"/>
    
  </Loggers>
</Configuration>
