.login {
    display: block;
    padding: 20px;
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
    max-width: 300px;
}

.btn-login {
    width: 100%;
}

.form-error {
    color: #ff6600;
}

table.tbl-mydisks .id {
    width: 1%;
    white-space: nowrap;
}

table.tbl-mydisks .request {
    width: 1%;
    white-space: nowrap;
    text-align: center;
}

table.tbl-mydisks .holder, .owner, .return {
    width: 1%;
    white-space: nowrap;
}

table.tbl-users .id {
    width: 1%;
    white-space: nowrap;
}

table.tbl-requests .id, .owner, .requester{
    width: 1%;
    white-space: nowrap;
}

table.tbl-requests .request, .status, .take{
    width: 1%;
    white-space: nowrap;
    text-align: center;    
}

.btn-request {
    color:  #66cc00;
    cursor: pointer;
}

.btn-cancel {
    color:  #ff3300;
    cursor: pointer;
}

.btn-accept, .btn-reject {
    color:  #02749c;
    cursor: pointer;
}


.btn-disabled {
    color:  #999999;  
    cursor: auto;
}


/* Перекрытие bootstrap.css */
.page-header { 
    border-bottom: none;
}


