.login {
    display: block;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    max-width: 350px;
}

.btn-login {
    width: 100%;
}

.form-error {
    color: #ff6600;
}

table.tbl-mydisks .id {
    width: 1%;
    white-space: nowrap;
}

table.tbl-mydisks .holder {
    width: 1%;
    white-space: nowrap;
}
